<!DOCTYPE HTML>
<html class="particles_effect" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Blytix</title>
    <link rel="shortcut icon" href="/assets/sets1/images/logo.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
    <link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
    <link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
</head>

<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

    <div class="wrapper">

        <header class="uk-small-hidden header" style=" position: absolute;">
            <nav class="uk-navbar header-nav">
                <div class="uk-container uk-container-center">
                    <a href="/" class="uk-navbar-brand logo_link">

                        <img class="uk-responsive-height logo" src="/assets/sets1/images/logo.png" alt="">
                    </a>
                    <div class="uk-navbar-flip uk-visible-large">
                        <ul class="uk-navbar-nav header-nav-list">
                            <li class="header_nav_list_item">
                                <a class="link_features header_nav_list_item_link" style="font-weight: bold;"
                                    href="/hire-tech-talent">HIRE TECH
                                    TALENT</a>
                            </li>
                            <li class="header_nav_list_item">
                                <a class="link_offer header_nav_list_item_link" style="font-weight: bold;"
                                    href="/what-we-do">WHAT WE DO</a>
                            </li>
                            <li class="header_nav_list_item">
                                <a class="link_pricing header_nav_list_item_link" style="font-weight: bold;"
                                    href="/about">About Us</a>
                            </li>
                            <li class="header_nav_list_item">
                                <a class="link_clients header_nav_list_item_link" style="font-weight: bold;"
                                    href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
                        <div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile">
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <section
            style="height: fit-content; background: url(/assets/sets1/images/about_banner.jpg) no-repeat 0 0; background-size: cover;"
            class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">
            <div
                class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

                <div class="container_block" style="text-align: center;" id="sansSerifFont">
                    <h1 class="uk-h1 container_title" id="sansSerifFont">Not Just Forward - Thinking — Future -
                        Thinking.
                    </h1>
                    <h2 class="uk-h2 container_subtitle" id="sansSerifFont"></h2>
                    <div class="container_description" id="sansSerifFont1">
                        At Blytix, we don’t just see the future of business and analytics — we’re creating it.
                    </div>
                </div>

            </div>
        </section>
        <section class="address section" style="padding: 35px 0 35px; line-height: 24px;">
            <div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
                <h4 id="sansSerifFont"
                    style="text-align:center; color: black; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 30px;">
                    Advancing Talent and Technologies.</h4>
                <div class="uk-grid uk-grid-large address_wrapper">

                    <div class="uk-width-medium-1-1 animated" id="sansSerifFont1">
                        Blytix empowers businesses around the globe with world-class analytics talent and technologies.
                        Our people work on the most innovative, challenging, and rewarding data science projects for
                        startups and small and medium sized businesses.
                    </div>
                </div>
            </div>
        </section>

        <section class="description description_secondary section"
            style="padding-top: 55px; background-color: #e3eaed; background-size: cover; background-image: url(/assets/sets1/images/about_second.jpeg)"
            id="sansSerifFont">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-large-1-1 uk-flex uk-flex-middle" >
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}"
                        style="text-align: left;">
                        <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco" id=""
                            style=" margin-left: 45%; margin-top: -17px; width: 100%; font-size: 32px; text-align: center; height: 10px; line-height: 23px; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"
                            id="sansSerifFont">
                            Our Principles Define Us and Our Work</h3>
                    </div>

                </div>
                <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                        <!-- <img src="https://www.sofomo.com/static/media/rafal.b378af63.png" alt=""> -->
                    </div>
                </div>
                <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}"
                        style="height: 500px;">
                        <h3 class="uk-h3 uk-margin-large-bottom animated description_title " id="sansSerifFont"
                            style="height: 10px; font-size: 20px; font-weight: bold; font-family: sans-serif;">Our
                            Mission</h3>
                        <p class="animated description_text vl" style="height: 30px; color: #333;" id="sansSerifFont1">
                            To accelerate the delivery of digital transformation projects, giving companies the agility
                            to thrive in a data-driven world.
                        </p>
                        <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco" id="sansSerifFont"
                            style="height: 10px; font-size: 20px; font-weight: bold; font-family: sans-serif;">
                            Our Vision</h3>
                        <p class="animated description_text vl" style="height: 120px; color: #333;" id="sansSerifFont1">
                            To unite every African youth who can realize their full potential and connect each of them
                            to diverse economic opportunities globally. We believe the best algorithms and tools will be
                            built by those who are exposed to different market conditions, inspired by their work, and
                            choose their work environment--in the company of equally passionate colleagues. By leveling
                            the playing field, we anticipate experiencing a world with less disparity and more
                            prosperity.
                        </p>

                    </div>
                </div>

            </div>
        </section>

        <section class="address section" style="padding: 25px 0 5px; line-height: 30px;">
            <div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
                <h4 id="sansSerifFont"
                    style="text-align:center; color: black; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 30px;">
                    Join Blytix and Move Ahead.</h4>
                <div class="uk-grid uk-grid-large address_wrapper">

                    <div class="uk-width-medium-1-1 animated" id="sansSerifFont1">
                        We are always looking for talented, innovative people to join our team. Check out exciting
                        careers opportunities at Blytix.
                    </div>
                </div>
                <div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
                    <!-- <div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded green_button container_button_message">Send message</div> -->
                    <a href="/contact">
                        <div class="uk-button uk-border-rounded container_button_subscribe"
                            style="background: #0066ff91;"> View Careers</div>
                    </a>
                </div>
            </div>
        </section>

        <section class="address section">
            <div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">

                <h3 class="uk-h3 animated section_title address_title" style="color: black;"><b>Locations</b></h3>
                <div class="uk-grid uk-grid-large address_wrapper">
                    <div class="uk-width-medium-1-3 animated">
                        <div class="uk-margin-large-bottom address_item">
                            <div class="uk-icon-map-marker address_label"></div>
                            <h4 class="address_title">Ghana</h4>
                            <div class="address_text" style="margin-top: -24px;">
                                <br>Blossom Analytics
                                <br> 8 Volta Street
                                <br> Airport Residential Area
                                <br> Accra-Ghana
                                <br> Phone: +233 557 736 725
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3 animated">
                    </div>
                    <div class="uk-width-medium-1-3 animated">
                        <div class="uk-margin-large-bottom address_item">
                            <div class="uk-icon-map-marker address_label"></div>
                            <h4 class="address_title">New York</h4>
                            <div class="address_text" style="margin-top: -24px;">
                                <br> Blossom Analytics
                                <br> 75 9th Ave. 6th Floor,
                                <br> New York, NY. 10011
                                <br> United States
                                <br> Phone: +1909 262-3387
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="description section" style="color: black; background: #ffffff">
                <div class="uk-grid uk-grid-collapse">
                    <div class="uk-width-large-1-4 uk-flex uk-flex-middle">
                        <p style="margin-top: -50px; margin-left:20px; font-size: 15px" id="sansSerifFont"><span
                                style="font-size: 17px;">About
                                Us</span> <br> <br>
                            We build & support your own talented, trusted, analytics team hosted out of Blytix’s
                            headquarters in Accra, Ghana. info@blytix.com <br> <br>
                        </p>
                    </div>
                    <div class="uk-width-large-1-4" style="font-size: 12px; text-align: left; line-height: 23px;">
                        <div class="uk-navbar-flip uk-visible-large">
                            <ul class="uk-navbar-nav header-nav-list">
                                <span style="font-size: 17px;">Links</span><br> <br>
                                <a style="color: black;" id="sansSerifFont" class="link_features header_nav_list_item_link"
                                    href="/hire-tech-talent">Hire Tech TalentT</a> <br>
    
                                <a style="color: black;" id="sansSerifFont" class="link_offer header_nav_list_item_link"
                                    href="/what-we-do">What We Do</a> <br>
    
                                <a style="color: black;" id="sansSerifFont" class="link_pricing header_nav_list_item_link"
                                    href="/about">About Us</a> <br>
    
                                <a style="color: black;" id="sansSerifFont" class="link_clients header_nav_list_item_link"
                                    href="/contact">Contact Us</a> <br>
    
                                <a style="color: black;" id="sansSerifFont" class="link_clients header_nav_list_item_link"
                                    href="/faq">FAQ</a> <br>
    
                                <a style="color: black;" id="sansSerifFont" class="link_clients header_nav_list_item_link"
                                    href="/career">Careers</a>
    
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        <footer class="footer">
            <div class="uk-container uk-container-center uk-text-center">
                <ul class="uk-list social_list">
                    <li class="social_list_item">
                        <a class="uk-icon-twitter social_list_item_link" target="_blank"
                            href="https://twitter.com/tryblytix"></a>
                    </li>
                    <li class="social_list_item">
                        <a class="uk-icon-linkedin social_list_item_link" target="_blank"
                            href="https://www.linkedin.com/company/blossomanalytics"></a>
                    </li>
                </ul>
                <div class="footer_message">© 2019 Blytix. All Rights Reserved</div>
            </div>
        </footer>

        <div data-ng-click="scrollTop()" class="scroll_top"></div>

    </div>

    <div id="mobile_nav" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
            <ul class="uk-nav uk-nav-offcanvas">
                <li class="">
                    <a class="link_features" href="#">What We Do</a>
                </li>
                <li class="">
                    <a class="link_offer" href="#">Your Developers</a>
                </li>
                <li class="">
                    <a class="link_pricing" href="about.html">About Us</a>
                </li>
                <li class="">
                    <a class="link_clients" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="modal_subscribe" class="uk-modal subscribe_window">
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

            <form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
                <div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
                    <div class="uk-width-medium-3-4 uk-margin-bottom">
                        <input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
                            placeholder="Enter your e-mail">
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-bottom">
                        <button class="uk-width-1-1 uk-button button_custom_green form_button"
                            type="submit">Subscribe</button>
                    </div>
                </div>
                <div class="response_wrapper">

                    <div class="success">E-mail has been added successfully.</div>
                    <div class="success_response"></div>

                    <div class="error">E-mail must be valid and message must be longer than 1 character.</div>
                    <div class="error_response"></div>
                </div>
            </form>
            <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
        </div>
    </div>


    <style>
        #sectionHead {
            font-family: 'Paytone One', sans-serif;
            font-size: 22px;
            line-height: 27px;
        }

        #sansSerifFont {
            font-family: 'Proxima Nova', Tahoma, sans-serif;
        }

        #sansSerifFont1 {
            font-family: 'Work Sans', sans-serif;
        }
    </style>
    <script type="text/javascript" src="/assets/sets1/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/ngTouch.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj7cR7j4zbZLwiKDV35BJ6VSASioV0n_8"></script>
    <script type="text/javascript" src="/assets/sets1/js/uikit.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/slideshow.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/slideshow-fx.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/slider.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/countUp.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/jquery.ajaxchimp.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/particles.min.js"></script>
    <script type="text/javascript" src="/assets/sets1/js/scripts.ang.js"></script>
    <!-- <div style="text-align: right;position: fixed;z-index:9999999;bottom: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;"><a title="Hosted on free web hosting 000webhost.com. Host your own website for FREE." target="_blank" href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"><img src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png" alt="www.000webhost.com"></a></div><script>function getCookie(e){for(var t=e+"=",n=decodeURIComponent(document.cookie).split(";"),o=0;o<n.length;o++){for(var i=n[o];" "==i.charAt(0);)i=i.substring(1);if(0==i.indexOf(t))return i.substring(t.length,i.length)}return""}getCookie("hostinger")&&(document.cookie="hostinger=;expires=Thu, 01 Jan 1970 00:00:01 GMT;",location.reload());var notification=document.getElementsByClassName("notice notice-success is-dismissible"),hostingerLogo=document.getElementsByClassName("hlogo"),mainContent=document.getElementsByClassName("notice_content")[0],newList=["Powerful and Easy-To-Use Control Panel.","1-Click Auto Installer and 24/7 Live Support.","Free Domain, Email and SSL Bundle.","5x faster WordPress performance","Weekly Backups and Fast Response Time."];if(notification.length>0&&null!=mainContent){var googleFont=document.createElement("link");googleFontHref=document.createAttribute("href"),googleFontRel=document.createAttribute("rel"),googleFontHref.value="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600",googleFontRel.value="stylesheet",googleFont.setAttributeNode(googleFontHref),googleFont.setAttributeNode(googleFontRel);var css="@media only screen and (max-width: 768px) {.web-hosting-90-off-image-wrapper {position: absolute;} .notice_content {justify-content: center;} .web-hosting-90-off-image {opacity: 0.3;}} @media only screen and (min-width: 769px) {.notice_content {justify-content: space-between;} .web-hosting-90-off-image-wrapper {padding: 0 5%}} .content-wrapper {z-index: 5} .notice_content {display: flex; align-items: center;} * {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;} .upgrade_button_red_sale{border: 0; border-radius: 3px; background-color: #ff123a !important; padding: 15px 55px !important; margin-left: 30px; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 600; color: #ffffff;} .upgrade_button_red_sale:hover{color: #ffffff !important; background: #d10303 !important;}",style=document.createElement("style"),sheet=window.document.styleSheets[0];style.styleSheet?style.styleSheet.cssText=css:style.appendChild(document.createTextNode(css)),document.getElementsByTagName("head")[0].appendChild(style),document.getElementsByTagName("head")[0].appendChild(googleFont);var button=document.getElementsByClassName("upgrade_button_red")[0],link=button.parentElement;link.setAttribute("href","https://www.hostinger.com/hosting-starter-offer?utm_source=000webhost&utm_medium=panel&utm_campaign=000-wp"),link.innerHTML='<button class="upgrade_button_red_sale">TRANSFER NOW</button>',(notification=notification[0]).setAttribute("style","padding-bottom: 10px; padding-top: 5px; background-image: url(https://cdn.000webhost.com/000webhost/promotions/springsale/mountains-neon-background.jpg); background-color: #000000; background-size: cover; background-repeat: no-repeat; color: #ffffff; border-color: #ff123a; border-width: 8px;"),notification.className="notice notice-error is-dismissible",(hostingerLogo=hostingerLogo[0]).setAttribute("src","https://cdn.000webhost.com/000webhost/promotions/springsale/logo-hostinger-white.svg"),hostingerLogo.setAttribute("style","float: none !important; height: auto; max-width: 100%; margin: 40px 20px 10px 30px;");var h1Tag=notification.getElementsByTagName("H1")[0];h1Tag.remove();var paragraph=notification.getElementsByTagName("p")[0];paragraph.innerHTML="Fast & Secure Web Hosting. <br>Limited time offer: get an SSL certificate for FREE",paragraph.setAttribute("style",'max-width: 600px; margin-left: 30px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 600;');var list=notification.getElementsByTagName("UL")[0];list.setAttribute("style","max-width: 675px;");for(var listElements=list.getElementsByTagName("LI"),i=0;i<newList.length;i++)listElements[i].setAttribute("style","color:#ffffff; list-style-type: disc; margin-left: 30px; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 300; line-height: 1.5;"),listElements[i].innerHTML=newList[i];listElements[listElements.length-1].remove();var org_html=mainContent.innerHTML,new_html='<div class="content-wrapper">'+mainContent.innerHTML+'</div><div class="web-hosting-90-off-image-wrapper"><img class="web-hosting-90-off-image" src="https://cdn.000webhost.com/000webhost/promotions/springsale/web-hosting-90-off.png"></div>';mainContent.innerHTML=new_html;var saleImage=mainContent.getElementsByClassName("web-hosting-90-off-image")[0]}</script></body> -->

</html>