<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Blytix</title>
    <link rel="shortcut icon" href="/assets/sets1/images/logo.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
    <link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
    <link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
</head>

<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

    <div class="wrapper">
        <%- include("partials/header", {navbar: false, anchor: false}) %>

        <section id="mainImage"
            style="height: fit-content; background: url(/assets/sets1/images/about_banner.jpg) no-repeat 0 0; background-size: 1353px;  background-position-x: 0px; background-position-y: center; ;"
            class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">
            <div
                class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

                <div class="container_block" style="text-align: center;">
                    <h1 class="uk-h1 container_title">Not Just Forward-Thinking — Future-Thinking.
                    </h1>
                    <h2 class="uk-h2 container_subtitle"></h2>
                    <div class="container_description wwd-normal">
                        At Blytix, we don’t just see the future of business and analytics — we’re creating it.
                    </div>
                </div>

            </div>
        </section>
        <section class="wwd-description uk-padding-large">
            <div class="uk-container uk-container-center uk-text-center uk-margin-large-top uk-margin-large-bottom"
                data-uk-scrollspy="{cls:'uk-active'}">
                <h4 class="mid-size-text wwd-normal">
                    Advancing Talent and Technologies.</h4>
                <div class="uk-grid uk-grid-large address_wrapper">

                    <div class="uk-width-medium-1-1 animated wwd-normal">
                        Blytix empowers businesses around the globe with world-class analytics talent and technologies.
                        Our people work on the most innovative, challenging, and rewarding data science projects for
                        startups and small and medium sized businesses.
                    </div>
                </div>
            </div>
        </section>

        <section class="description extend uk-position-relative"
            style="background-color: #e3eaed; background-size: cover; background-position-y: -160px; background-image: url(/assets/sets1/images/about_second.jpeg);  background-position: top center; height: 701px;">
            <div class="section-content">
                <div class="uk-grid uk-grid-collapse uk-position-relative uk-padding-large">
                    <div class="uk-width-large-1-2 uk-flex uk-flex-middle about-content">
                    </div>
                    <div class="uk-width-large-1-2 uk-flex uk-flex-middle about-content"
                        style="padding-left: 5%; padding-top: 140px;">
                        <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}"
                            style="height: 500px;">
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title mid-size-text white">
                                Our Principles Define Us and Our Work</h3>

                            <h3 class="uk-h3 uk-margin-large-bottom animated wwd-normal small-size-text white">Our
                                Mission</h3>
                            <p class="animated description_text wwd-normal about-image-text white">
                                To connect Africa's top talent to the global economy by providing meaningful work.
                            </p>
                            <h3 class="uk-h3 uk-margin-large-bottom animated deco wwd-normal small-size-text white">
                                Our Vision</h3>
                            <p class="animated description_text wwd-normal about-image-text white">
                                To inspire African Youth to realize their full potential and connect them to diverse
                                economic opportunities around the world. We believe that
                                the best algorithms and tools will be built by those who are exposed to different market
                                conditions, who find inspiration in their work, and
                                who seek to collaborate with equally passionate colleagues in an exciting career
                                landscape. By leveling the playing field,
                                we aspire to shape a world with less disparity and more prosperity.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="about-overlay"></div>
            </div>
        </section>

        <section class="section">
            <div class="uk-container uk-container-center uk-text-center uk-margin-large-top uk-margin-large-bottom "
                data-uk-scrollspy="{cls:'uk-active'}">
                <h4 class="mid-size-text">
                    Join Blytix and Move Ahead.</h4>
                <div class="uk-grid uk-grid-large address_wrapper">

                    <div class="uk-width-medium-1-1 animated" id="sansSerifFont1">
                        We are always looking for talented, innovative people to join our team. Check out exciting
                        career opportunities at Blytix.
                    </div>
                </div>
                <div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
                    <a href="/careers">
                        <div class="uk-button uk-border-rounded blytix-inverse-btn container_button_message">Careers
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <% include partials/footer %>

    </div>

    <div id="modal_subscribe" class="uk-modal subscribe_window">
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

            <form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
                <div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
                    <div class="uk-width-medium-3-4 uk-margin-bottom">
                        <input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
                            placeholder="Enter your e-mail">
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-bottom">
                        <button class="uk-width-1-1 uk-button button_custom_green form_button"
                            type="submit">Subscribe</button>
                    </div>
                </div>
                <div class="response_wrapper">

                    <div class="success">E-mail has been added successfully.</div>
                    <div class="success_response"></div>

                    <div class="error">E-mail must be valid and message must be longer than 1 character.</div>
                    <div class="error_response"></div>
                </div>
            </form>
            <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
        </div>
    </div>

    <% include partials/modal %>

    <style>
        .about-overlay {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.301);
            width: 100%;
            height: 100%;
            z-index: 3;
        }

        .about-content {
            position: relative;
            z-index: 5;
        }
    </style>
    <style>
        @media all and (max-width:600px) {
            #mainImage {
                height: 245px !important;
                padding-top: 75px !important;
                background-size: 100% !important;
                background-position-x: 0px !important;
                /* padding-top: 65px !important; */
            }
        }
    </style>



    <% include partials/scripts %>

</html>