<!DOCTYPE HTML>
<html class="particles_effect" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Blytix</title>
	<link rel="shortcut icon" href="/assets/sets1/images/logo.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
	<link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
	<link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
	<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151185709-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151185709-1');
    </script>
</head>

<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

	<div class="wrapper">
        <%- include("partials/header", {navbar: true, anchor: false}) %>  
        <section class="header-banner career">
            <div class="overlay"></div>
            <div class="header-content" style="background: #23222296; left: 34% !important;">
                <h3>Data Scientist</h3>
                <h5>Send your resume to <a>info@blytix.com </a></h5>
            </div>
        </section>

        <section class="description extend career">
            <div class="section-content">
                <div class="uk-container uk-margin" style="margin-left: auto; margin-right: auto;">
                    <p>
                        You will be based in Ghana and part of Blytix. Our Data Scientists work closely with our clients and our Data Engineers  
                        in order to curate, transform and construct features which feed directly into our modelling approach.                   
                    </p>
                    <p>
                        As a Data Scientist at Blytix, you will work with other Data Scientists and Data Engineers on interdisciplinary projects, using Maths, Stats and 
                        Machine Learning to derive structure and knowledge from raw data across various industry sectors. 
                    </p>
                    <h4>What You’ll Be Doing</h4>
                    <p class="">
                        You will work in multi-disciplinary environments harnessing data to provide real-world impact for organisations globally.
                    </p>
                    <p class="">
                        You will influence many of the recommendations our clients need to positively change their businesses and enhance performance.
                    </p>
                    <p class="">Role responsibilities</p>
                    <ul>
                        <li>Work on complex and extremely varied data sets from some of the world’s largest organisations to solve real world problems </li>
                        <li>Develop data science products and solutions for clients as well as for our data science team  </li>
                        <li>Write highly optimized code to advance our internal Data Science Toolbox </li>
                        <li>Work in a multi-disciplinary remote environment with specialists in machine learning, engineering and design</li>
                        <li>Add real-world impact to your academic expertise, as you are encouraged to write ‘black’ 
                            papers and present at meetings and conferences should you wish </li>
                        <li>Work within one of the largest and most advanced data science teams globally, support the Product Managers to develop data science product </li>
                    </ul>
                    <h4>Who You Are (Experience & Skills)</h4>
                    <p class="">You are a highly collaborative individual who is capable of laying aside your own agenda, listening to and learning from colleagues,
                            challenging thoughtfully and prioritising impact. You search for ways to improve things and work collaboratively with colleagues. You believe in iterative change, experimenting with new approaches, learning and improving to move forward quickly. Trust between colleagues is paramount here – you are an individual who can always be trusted to work in the best interests of all colleagues and to achieve
                        the best outcome for Blytix and our clients. You are naturally enthusiastic and enjoy sharing your passion with others.</p>
                    <h4>What You’ll Learn</h4>
                    <ul>
                        <li>How successful projects on real world problems across a variety of industries are 
                            completed through referencing past deliveries of end to end  pipelines.</li>
                        <li>
                            Build products alongside the core engineering team of our clients and evolve the engineering 
                            process to scale with data, handling complex problems and advanced client situations.
                        </li>
                        <li>Be able to focus on modelling by working alongside the Data Engineering team which focuses on the wrangling, clean-up, and transformation of data </li>
                        <li>Best practices in software development and productionise machine learning by working with our Machine Learning Engineering 
                            teams which optimise code for model development and scale it     </li>
                        <li>Work with our clients’ UX and Visual Design teams to interpret your complex models into stunning and user-focused visualisations</li>
                        <li>Use new technologies and problem-solving skills in a multicultural and creative environment</li>
                    </ul>
                    <h4>How To Apply</h4>
                    <p> To apply, email info@blytix.com with the subject line “Data Scientist.
                        When applying please provide a resume and any links to your technical 
                        blog, github/bitbucket, and other reviewable code examples.</p>
                        
                </div>
            </div>
        </section>


        <% include partials/footer %>

	</div>

	<div id="modal_subscribe" class="uk-modal subscribe_window">
		<div class="uk-modal-dialog uk-text-center uk-border-rounded">
			<h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

			<form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
				<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
					<div class="uk-width-medium-3-4 uk-margin-bottom">
						<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
							placeholder="Enter your e-mail">
					</div>
					<div class="uk-width-medium-1-4 uk-margin-bottom">
						<button class="uk-width-1-1 uk-button button_custom_green form_button"
							type="submit">Subscribe</button>
					</div>
				</div>
				<div class="response_wrapper">

					<div class="success">E-mail has been added successfully.</div>
					<div class="success_response"></div>

					<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
					<div class="error_response"></div>
				</div>
			</form>
			<a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
		</div>
    </div>
    
    <% include partials/modal %>


    <style>
        .career {
            background-color: white !important;
        }
        .career p{
            font-family: Proxima-thin;
            font-size: 1.1em;
            line-height: 1.8em;
        }

        .career p.bold{
            font-family: Proxima;
        }

        .career h4{
            font-size: 1.7em;
            font-family: Proxima-bold;
            margin-top: 35px;
        }

        .career h5{
            font-size: 1.3em;
            font-family: Proxima-bold;
        }

        .career ul li{
            font-size: 1.1em;
            font-family: Proxima-thin;
            margin: 15px;
            color: #333;
        }
    </style>
	<% include partials/scripts %>
</html>