<!DOCTYPE HTML>
<html class="particles_effect" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Blytix</title>
    <link rel="shortcut icon" href="/assets/sets1/images/logo.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
    <link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
    <link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

    <div class="wrapper">
        <%- include("partials/header", {navbar: false, anchor: false}) %>  

        <section class=" description section"  style="height: fit-content; background: url(/assets/sets1/images/1.jpeg) no-repeat 0 0; background-size: cover;">
            <div class="uk-grid uk-grid-collapse">

                <div class="uk-width-large-1-1 uk-flex uk-flex-middle">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                        <h1 class="uk-h1 container_title">Still have
                            questions?</h1>
                        <div class="container_description "
                            style="    padding-top: 35px;">
                            Here are just a few of things companies frequently ask about Blytix. <br> If you don’t see
                            your question here, get in touch with us.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="description blytix-bg-white ">
            <h3 class="mid-size-text wwd-thin uk-text-center">ABOUT US</h3>
            <div class=" uk-container uk-grid uk-grid-large uk-margin-large-bottom" style="margin-left: auto; margin-right: auto">
                <div class="uk-width-medium-1-2">
                    <div class="faq-item">
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion wwd-normal">What makes Blytix different?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;">
                                We do one thing - dedicated analytics talent that are built to last. We are not a project-based
                                development “sweatshop” with numerous clients and hundreds of interchangeable data scientists
                                available for hire. This model stifles innovation. We are in the business of empowering select,
                                innovative companies with talented, on-demand or full-time analytics talent working all in one place
                                from our headquarters in Accra, Ghana. <br> <br>
                                Our partner companies receive all the benefits (cost savings, talent & scalability) of setting up an
                                international analytics center without the overhead costs. Our partner companies typically have such
                                strong relationships with their analytics team that they retain them for multiple years.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion">How does Blytix have access to top analytics talent?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;">
                                Because we are located in Ghana, we have access to leading quantitative and engineering talent across
                                Africa. We spend countless hours and resources upskilling them to become the most competitive analytics
                                professionals.
            
                                In addition, our model of on-demand or dedicated, full-time teams for select, innovative tech
                                companies appeals to talented analytics professionals. Top talent prefer to work on the latest
                                technologies, choose their working environment and be dedicated to a single company rather than spread across multiple random
                                projects.
            
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="faq-item"> 
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion wwd-normal">Where are you located?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;">
                                We have an office in New York. Our headquarters is in Accra, Ghana where your on-demand analytics
                                talent or team will work from.
                            </p>
                        </div>
                    </div>
                </div>
            </div>   
        </section>
        <section class="description blytix-bg-red ">
            <h3 class="mid-size-text wwd-thin uk-text-center white">WHAT IT’S LIKE TO WORK WITH US</h3>
            <div class=" uk-container uk-grid uk-grid-large uk-margin-large-bottom" style="margin-left: auto; margin-right: auto">
                <div class="uk-width-medium-1-2">
                    <div class="faq-item">
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion">What is Blytix’s process?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;">
                                You tell us about your analytics project and resource needs. We then provide you with in-depth
                                analytics talent profiles. You interview each professional and decide who joins your team. You sign
                                a simple, flexible contract with Blytix and we onboard your team, helping to integrate them into
                                your product development process. <br> <br>
            
                                Your analytics professionals work from Blytix’s headquarters in Ghana. Blytix’s leadership oversees
                                your team, manages payroll, benefits, and more.
            
                            </p>
                        </div>
                    </div>
                    <div class="faq-item"> 
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion wwd-normal">Where will my remote worker or team work from?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;" class="wwd-thin">
                                Your Blytix remote team will work from our headquarters in Accra, Ghana. Ghana is one of the fastest
                                growing tech hubs in Africa and home to some of the best technical universities, leading tech companies, and a thriving startup ecosystem. You will have direct access to your analytics
                                professionals via Skype, Slack, email, phone or whatever communication preference you choose. Your trusted analytics professionals will use your project management tool (i.e., Redmine, Basecamp, Jira, etc.).
                                Our professionals are fluent in multiple languages including English.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="faq-item"> 
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion wwd-normal">What skills can I hire?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;" class="wwd-thin">
                                Data Analytics: Tableau, PowerBI, Domo, Sisense, Dundas BI, SAP, Python, & more... <br>
                                Data Science: Kubernetes, Spark, Kafka, Java, Redis, CassandraDB, PostgreSQL, MySQL, CI/CD
                                Pipelines, microservices, AWS Cloud9 & more... <br>
                                Data Engineering: Python, HDFS, HIVE, SQL, Elasticsearch, SageMaker, Tensorflow/Keras, Deep
                                Learning, PyTorch, Spark, DynamoDB, MongoDB, & more...

                            </p>
                        </div>
                    </div>
                </div>
            </div>   
        </section>
        <section class="description blytix-bg-white ">
            <h3 class="mid-size-text wwd-thin uk-text-center">OUR TERMS</h3>
            <div class=" uk-container uk-grid uk-grid-large uk-margin-large-bottom" style="margin-left: auto; margin-right: auto">
                <div class="uk-width-medium-1-2">
                    <div class="faq-item">
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion">What is your cost?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;">
                                We will bill you a monthly fee for each analytics professional that you hire. Our contract is simple
                                and flexible. Contact us to learn more about costs.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="faq-item"> 
                        <div class="ion-ios-add icon"></div>
                        <div class="accordion wwd-normal">What is your contract length?</div>
                        <div class="panel">
                            <p style="margin-top: 15px;" class="wwd-thin">
                                While Blytix does not bind clients to long-term contracts, our goal is to work with innovative
                                businesses who will maintain their analytics team for the long-term and grow their team over time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>   
        </section>

        <% include partials/footer %>
    </d>
    <div id="modal_subscribe" class="uk-modal subscribe_window">
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

            <form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
                <div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
                    <div class="uk-width-medium-3-4 uk-margin-bottom">
                        <input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
                            placeholder="Enter your e-mail">
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-bottom">
                        <button class="uk-width-1-1 uk-button button_custom_green form_button"
                            type="submit">Subscribe</button>
                    </div>
                </div>
                <div class="response_wrapper">

                    <div class="success">E-mail has been added successfully.</div>
                    <div class="success_response"></div>

                    <div class="error">E-mail must be valid and message must be longer than 1 character.</div>
                    <div class="error_response"></div>
                </div>
            </form>
            <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
        </div>
    </div>

    <% include partials/modal %>
    <style>
        .accordion {
            background-color: white;
            color: #444;
            cursor: pointer;
            padding: 18px;
            padding-top: 0px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            font-size: 20px;
            font-weight: 600;
            line-height: 0.1;
            letter-spacing: .4px;
            color: #404040;
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active,
        .accordion:hover {
            background-color: #ccc;
        }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;
        }

        .panel p {
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: .4px;
            color: #404040;
        }
        .faq-item{
            margin-top: 30px;
            position: relative;
        }
        .faq-item .accordion{
            background-color: transparent;
            color: white;
            font-family: Proxima-thin;
            margin-left: 27px;
            line-height: 27px;
            box-sizing: border-box;
        }
        .faq-item .panel{
            margin-left: 10px;
            display: none;
            opacity: 0;
            transition: display .1s ease-in-out, opacity .3s ease-in-out;
            background-color: transparent;
        }
        .faq-item .panel.active{
            display: block;
            opacity: 1;

        }
        .faq-item .panel p{
            font-family: Proxima-thin;
            color: white;
            border-left: 3px solid white;
            padding-left: 17px;
        }
        .faq-item .icon{
            font-size: 1.5em;
            color: white;
            position: absolute;
            top: 2px;
            width: 25px;
            height: 25px;
            border: 2px solid white;
            line-height: 20px;
            border-radius: 50%;
            text-align: center;
        }
        .address_item .caption{
            font-size: 1.5em !important;
            vertical-align: baseline;
            font-family: Proxima-bold;
        }
        .address_item img{
            margin-right: 10px;
            vertical-align: middle;
        }
    </style>
   <% include partials/scripts %>
   <script>
    var acc = $(".accordion").click(function(){
    var isActive = $(this).siblings('.panel').hasClass('active')       
    
    $(".accordion").siblings('.panel').removeClass('active')    
    
    if(!isActive) {
        $(this).siblings('.panel').toggleClass('active')
    }

    var icon = $(this).siblings('.icon')
    var allIcon = $(acc).siblings('.icon')
    allIcon.removeClass('ion-ios-remove')
    if(!isActive){
        icon.addClass('ion-ios-remove')
    }
})
</script>
</html>