    <!DOCTYPE HTML>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <title>Blytix</title>
        <link rel="shortcut icon" href="/assets/sets1/images/logo.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
        <link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
        <link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
        <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151185709-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-151185709-1');
        </script>
    </head>

    <body data-ng-app="myPage" data-ng-controller="myPageCtrl">

        <div class="wrapper">
            <%- include("partials/header", {navbar: false, anchor: false}) %>

            <section
                style="background: url(/assets/sets1/images/hire_banner.jpeg) no-repeat 0 0; background-size: cover;"
                class="firstBoard uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">
                <div
                    class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">
                    <div class="section-content">
                        <div class="container_block" style="text-align: left;">
                            <h1 class="uk-h1 container_title">Trusted & talented</h1>
                            <h2 class="uk-h2 container_subtitle">analytics teams. </h2>
                            <div class="container_description">We’re your analytics partner, helping you
                                scale fast with your very own talented, on-demand, or full-time analytics team.
                            </div>
                            <div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
                                <a href="/contact">
                                    <div class="uk-button uk-border-rounded container_button_subscribe">Request
                                        Analytics
                                        Talent</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class=" description description_secondary auto">
                <div class="section-content">
                    <div class="uk-container" style="margin-left: auto; margin-right: auto">
                        <div class="hire-description uk-margin-large-top uk-margin-large-bottom">
                            <h3 class="description_title">Fully dedicated teammates, always within reach</h3>
                            <p class="description_text uk-text-center">
                                Your analytics talents can either work from our offices in Ghana, participating in your 
                                daily scrum meetings and other activities, or directly from your office space. With modern communication technologies such as Zoom, 
                                Slack, and Google Hangout, your analytics talents can function just like in-person members of your team.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="openImage"
                style="height: 300px; overflow: hidden; background: url(/assets/sets1/images/about-team-image.JPG) no-repeat 0 0; background-size: cover; background-position-y: -300px;"
                class=" secondBoard uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay">
                <div class="overlay" style="background-color: #f0f0f000; width: 100%; height: 100%;"></div>
            </section>
            <section class=" description description_secondary auto">
                <div class="section-content">
                    <div class="uk-container" style="margin-left: auto; margin-right: auto">
                        <div class="hire-description uk-margin-large-top uk-margin-large-bottom">
                            <h3 class="description_title">Why Blytix?</h3>
                            <p class="description_text uk-text-center">
                                Blytix knows first-hand what African talent is truly capable of. Through our academy, we
                                provide training and access to some of the best professionals in their field, allowing
                                future analytics leaders and experts the opportunity to advance in line with the rapidly
                                developing industry.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="description hire">
                <div class="uk-grid uk-grid-collapse" style="background-color: white">
                    <div class="uk-width-large-1-2 description_image" style="text-align:center">
                        <div class="inner-image-4">
                        </div>
                    </div>
                    <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                        <div class="section-content">
                            <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                                <h3 class="uk-h3 uk-margin-large-bottom animated description_title" id="sansSerifFont">
                                    Proprietary Talent Delivery Program
                                </h3>
                                <p class="animated description_text">
                                    Our unique training program lets us recruit, develop, and deploy top talent well
                                    versed
                                    in industry-specific and next-gen technologies. Through continuous and intensive
                                    training focused on simulated, real-world challenges, graduates from our academy are
                                    able to quickly integrate into your existing analytics teams.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description hire">
                <div class="uk-grid uk-grid-collapse" style="background: #e8d1e9;">
                    <div class="uk-width-large-1-2 description_image">
                        <img style="width: 100%; height: 100%; object-fit: cover;"
                            src="/assets//sets1/images/hire-image-2.JPG" alt="">
                    </div>
                    <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                        <div class="section-content">
                            <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                                <h3 class="uk-h3 uk-margin-large-bottom animated description_title" id="sansSerifFont">
                                    Next-Gen Technologies Expertise
                                </h3>
                                <p class="animated description_text">
                                    We bring deep knowledge of and experience in all the latest enterprise-level
                                    technologies—and we’re constantly refining our program to incorporate the latest
                                    analytics trends and enhancements in project delivery.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description hire">
                <div class="uk-grid uk-grid-collapse" style="background: white;">
                    <div class="uk-width-large-1-2 description_image" style="text-align:center">
                        <img style="width: 100%;" src="/assets/sets1/images/better_control.jpg" alt="">
                    </div>
                    <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                        <div class="section-content">
                            <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                                <h3 class="uk-h3 uk-margin-large-bottom animated description_title" id="sansSerifFont">
                                    Better Control of Your Talent Pipeline
                                </h3>
                                <p class="animated description_text">
                                    Because our talent delivery program can train people faster and more
                                    cost-effectively,
                                    we can help you ramp up quickly and integrate world-class talent in large numbers or
                                    on
                                    an individual basis right away.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% include partials/footer %>

        </div>

        <div id="modal_subscribe" class="uk-modal subscribe_window">
            <div class="uk-modal-dialog uk-text-center uk-border-rounded">
                <h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

                <form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
                    <div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
                        <div class="uk-width-medium-3-4 uk-margin-bottom">
                            <input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
                                placeholder="Enter your e-mail">
                        </div>
                        <div class="uk-width-medium-1-4 uk-margin-bottom">
                            <button class="uk-width-1-1 uk-button button_custom_green form_button"
                                type="submit">Subscribe</button>
                        </div>
                    </div>
                    <div class="response_wrapper">

                        <div class="success">E-mail has been added successfully.</div>
                        <div class="success_response"></div>

                        <div class="error">E-mail must be valid and message must be longer than 1 character.</div>
                        <div class="error_response"></div>
                    </div>
                </form>
                <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
            </div>
        </div>

        <% include partials/modal %>


        <style>
            .secondBoard:before {
                background: #fafafa00;
            }

            .secondBoard::after {
                background: #fafafa00;
            }


            .firstBoard::after {
                background: #200122d0
            }

            .deco {
                height: 10px;
                font-size: 20px;
                font-weight: bold;
            }

            .vl {
                border-left: 2px solid red;
                height: 78px;
                padding-left: 10px;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.6;
                letter-spacing: .4px;
                color: #404040;
            }

            #sectionHead {
                font-family: 'Paytone One', sans-serif;
                font-size: 60px;
                line-height: 65px;
            }

            #sansSerifFont {
                font-family: 'Proxima Nova', Tahoma, sans-serif;
            }

            #sansSerifFont1 {
                font-family: 'Work Sans', sans-serif;
            }
        </style>
        <style>
            @media all and (max-width:600px) {
                #openImage {
                    margin-bottom: -250px !important;
                    height: 100% !important;
                    background-size: 100% !important;
                    background-position-y: 0px !important;
                }
            }
        </style>
        <% include partials/scripts %>

    </html>