<!DOCTYPE HTML>
<html class="particles_effect" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Blytix</title>
	<link rel="shortcut icon" href="/assets/sets1/images/logo.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
	<link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
	<link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
	<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

	<div class="wrapper">
		<%- include("partials/header", {navbar: false, anchor: false}) %>  
        
        <section class="header-banner">
            <h3>Privacy Policy</h3>
        </section>

        <section class="description extend privacy-doc">
			<div class="section-content">
				<div class="uk-container uk-margin" style="margin-left: auto; margin-right: auto;">
					<p>Blossom Analytics is committed to upholding the privacy rights of individuals. 
					</p>
					<p>
						The provisions below contains the collection, use, purpose, and sharing of personally identifiable information (“Personal Information”) related to the use of Blytix’s website www.blytix.com, services to our customers (“Partners”), and our employees. Blytix does not require you to register or provide information to visit our website.By visiting or using our Website or any related services offered by Blytix (the “Services”) in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.
					</p>
					<h4>Information Collected and Stored Automatically
					</h4>
					<p>If you access information on Blytix website, the following basic information is automatically collected from you by our servers or to that of our third parties:
					</p>
					<p>Any pages you visit, including the information you request:</p>
					<ul>
						<li>If you linked directly to our site, the internet address of the website you linked through,</li>
						<li>Cookie Information</li>
						<li>Page you requested</li>
						<li>The Internet Protocol address from which you access our site</li>
					</ul>
					<p><strong>Cookies</strong> are identifiers we transfer to your computer or mobile device that allow us to recognize your browser or mobile device and tell us how and when pages in our Website are visited and by how many people. You may be able to change the preferences on your browser or mobile device to prevent or limit your computer or device’s acceptance of cookies, but this may prevent you from taking advantage of some of our Website’s features. Also, if you click on a link to a third party website, such third party may also transmit cookies to you. This Privacy Policy does not cover the use of cookies by any third parties. Our Website includes social media features, such as the Facebook, Twitter and LinkedIn buttons and widgets. These features may collect your IP address, which page you are visiting on our Website, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our Website. Your interactions with these features are governed by the privacy policy of the company providing it. We may, as necessary, disclose this information or any other information that may identify you to state and local authorities or law enforcement as required under law or by court order.
					</p>
					<h4>Personal Identifiable Information
					</h4>
					<p>
						Use or access to our website does not require you to provide any personal information. If you choose to provide us with any personal information through email, filling out any form and submitting it through our site, links through our sites to partner sites, or through any links for partnership or employment opportunities, we will use the information provided to respond to your request. Blytix stores, maintains, processes, and/or handles Personal Information data as necessary to perform its business functions for our employees.  We also receive personal information from our clients to perform services for them. Through your account settings, you may access, and, in some cases, edit or delete the information you have provided to us. The information you can view, update, and delete may change as the Website changes. If you have any questions about viewing or updating information we have on file about you, please contact us at 
						<a>info@blytix.com.</a>
					</p>
					<h4> Link to External Sites</h4>
					<p>This website may contain links to other sites. We are not responsible for the privacy policies and practices on other 3rd party sites. When following a link to other sites, we strongly advise that you read the privacy policy of that site.</p>
					<h4>Changes to this privacy policy</h4>
					<p>We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make material changes in the way we use Personal Information, we will notify you by posting an announcement on our Website or sending you an email prior to the change becoming effective. You are bound by any changes to the Privacy Policy when you use the Website after such changes have been first posted.</p>
					<h4>Security</h4>
					<p>Blytix takes administrative, technical, and physical measures to protect the security, confidentiality and integrity of information collected on this site or from our Partners so that we may provide services for them. However, no website, service, mobile application, database or system is completely secure or “hacker proof.”  You are also responsible for taking reasonable steps to protect your personal information against unauthorized disclosure or misuse.</p>
					<h4>Privacy Policy Contact Information
					</h4>
					<p>We welcome feedback from all our users and if you have any questions regarding our privacy policy or the use of your information please contact us.  You can send us a detailed email at privacy@blytix.com  or you can send a mail to us at:
					</p>
					<div><strong>Blossom Analytics</strong></div>
					<div><strong>8 Volta, Airport Residential</strong></div>
					<div><strong>Accra-Ghana.</strong></div>
				</div>
			</div>
		</section>

		<% include partials/footer %>
	</div>

	<div id="modal_subscribe" class="uk-modal subscribe_window">
		<div class="uk-modal-dialog uk-text-center uk-border-rounded">
			<h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

			<form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
				<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
					<div class="uk-width-medium-3-4 uk-margin-bottom">
						<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
							placeholder="Enter your e-mail">
					</div>
					<div class="uk-width-medium-1-4 uk-margin-bottom">
						<button class="uk-width-1-1 uk-button button_custom_green form_button"
							type="submit">Subscribe</button>
					</div>
				</div>
				<div class="response_wrapper">

					<div class="success">E-mail has been added successfully.</div>
					<div class="success_response"></div>

					<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
					<div class="error_response"></div>
				</div>
			</form>
			<a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
		</div>
	</div>

	<% include partials/modal%>

	<style>
		.privacy-doc{

        }

        .privacy-doc p{
            font-family: Proxima-thin;
            font-size: .9em;
            line-height: 1.5em;
        }

        .privacy-doc h4{
            font-size: 1.4em;
            font-family: Proxima-bold;
        }

        .privacy-doc ul li{
            font-size: 1em;
            font-family: Proxima-thin;
            margin: 10px;
        }
	</style>
	<% include partials/scripts %>
</html>