<!DOCTYPE HTML>
<html class="particles_effect" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Blytix</title>
	<link rel="shortcut icon" href="/assets/sets1/images/logo.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
	<link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
	<link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
	<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
</head>

<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

	<div class="wrapper">
		<%- include("partials/header", {navbar: false, anchor: false}) %>  
        
        <section class="header-banner">
            <h3>Terms Of Use</h3>
        </section>

        <section class="description extend privacy-doc">
                <div class="uk-container uk-margin" style="margin-left: auto; margin-right: auto;">
                    <p>
                        These Terms of Use (“Terms of Use”) govern your use of this Blytix’s website located at <a href="/">www.blytix.com</a> (hereinafter referred as “Site”) and the various sites connected to this page.
                        This Site is made available for information purposes; submission for contact by our business development to become a Client or for consideration into our team as an employee of Blytix.
                        By using this Site and its services you will be bound by these Terms of Use. If you do not agree to these Terms of Use, you must not use this Site or any service provided via it. Use of this Site and Services (as defined below) is expressly conditioned upon your assent to all the terms of use of this agreement, to the exclusion of all other terms.
                            
                    </p>
                    <h4>Site Rules</h4>
                    <p>
                        You are not to access or attempt to access our Site in any other means or through any other interfaces unless so authorized. You further agree to not engage in any other activities that would otherwise interfere with the use, access, or availability of our Site including, but not limited to, crawling, reproducing, duplicating, copying, selling, trading or reselling our Site for any unauthorized purposes. For as long as the Site continues to offer the Services, it shall provide and seek to update, improve and expand the Services. As a result, BLYTIX allows you to access the Site as it may exist and be available on any day and it has no other obligations, except as expressly stated in these Terms of Use. BLYTIX may modify, replace, refuse access to, suspend or discontinue the Site, partially or entirely at its sole discretion. All of these changes shall be effective upon their posting on the Site or by direct communication to you unless otherwise noted. Your use of the Services following such posting or communication constitutes your acceptance of the terms and use of this Agreement as modified. Nothing in these Terms of Use is intended to, or shall be deemed to, establish any partnership or joint venture between any of the parties, constitute any party the agent of another party, nor authorize any party to make or enter into any commitments for or on behalf of any other party.
                    </p>
                    <h4>Links to 3rd Parties</h4>
                    <p>
                        Our Site may contain links to 3rd party websites, products, services, advertisers, or other events or activities that may or may not be controlled by BLYTIX. BLYTIX does not assume any responsibility for such 3rd party websites. By accessing a 3rd party website or attending any events or activities, you do so at your own risk, and understand that BLYTIX, our policies, processes, and terms may or may not apply to such events or activities. Any dealings between you and any 3rd party event or advertiser is done solely between you and the 3rd party, including but not limited to any warranty, assurances, payments or deliveries of such event or activity. You agree that BLYTIX shall not be responsible for any loss, damage, or liability of any kind relating to your dealings with such 3rd parties.
                    </p>
                    <h4>Intellectual Property </h4>
                    <p>
                        You acknowledge and agree that all Content provided on the Site or through the Services presented to you by BLYTIX are protected by copyrights, trademarks, service marks, patents, or other proprietary rights and laws. You shall abide by all copyright notices, trademark rules, information, and restrictions contained in any Content accessed through the Services, and except as expressly permitted herein, shall not use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purposes whatsoever any Content or third party submissions or other proprietary rights not owned by you: (i) without the express prior written consent of the respective owners, and (ii) in any way that violates any third party right. You acknowledge and agree that you are permitted to review, print and make one copy for your personal use of the Content (and other items displayed on the Website for download), provided that you maintain all copyright and other notices contained in such Content. You shall not store any significant Content in any form. .Your online portfolio will be shared with potential employers who may approach you for employment. If you don’t want potential employers to contact you for jobs, you can opt out of this feature from your profile page. BLYTIX’s tool and materials cannot be used for commercial purposes or used to train others. When you upload or otherwise submit content to the Site, you give Blytix a worldwide license to host and store such content. The rights you grant in this license are for the limited purpose of operating the Site and use to improve the Site. This license continues even if you stop using the Site.
                    </p>
                    <h4>Privacy</h4>
                    <p>Any data that is collected or processed by BLYTIX will be done in accordance with our Privacy Policy</p>
                    
                    <h4>Cookies</h4>
                    <p>BLYTIX does use cookies for a variety of uses including, but not limited to, improving our online experience for users, analytical data, marketing data, and other specific uses as follows:
                        Analytics usage: page visits, session tracking, etc.
                        Marketing usage: conversion tracking, form submissions, and page visits, etc.
                        You may disable your cookies based on your individual internet browser settings, but that may limit your abilities and functionalities on our site.
                    </p>
                    <p>BLYTIX uses (state software programs used) in tracking any cookies on our Site.</p>
                    <h4>Disclaimer</h4>
                    <p>
                            THIS SITE IS PROVIDED “AS-IS” AND “WHERE-IS” WITHOUT ANY WARRANTIES OF ANY KIND WHATSOEVER. BLYTIX MAKES NO REPRESENTATION OR WARRANTIES OF ANY KIND. SPECIFICALLY, BLYTIX DISCLAIMS ALL GUARANTEES, REPRESENTATIONS AND WARRANTIES (WHETHER EXPRESS OR IMPLIED, ORAL OR IN WRITING, INCLUDING THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, NON-INFRINGEMENT, AND WHETHER OR NOT ARISING THROUGH A COURSE OF DEALING), RELATING SOMEHOW TO OUR SITE.
                            Blytix (a) does not guarantee that you will receive any employment, job offers, or call backs through our Site, (b) will not be responsible for any listings, submissions, or request from information from you and (c) is not your employer or your agent based on your usage of our Site.
                            Blytix does maintain this site, it’s integrity, and security, however, we do not guarantee that our Site will remain fully up to date, complete, correct, secure or accurate, or that access to our Site will remain uninterrupted or without error.                            
                    </p>
                    <h4>Indemnification</h4>
                    <p>
                        You agree to indemnify, defend, and hold harmless BLYTIX, its affiliates and subsidiaries, employees, officers, directors, and agents from and against any and all claims, liabilities, damages, judgments, awards, losses, costs, expenses and fees (including reasonable attorneys’ fees) arising out of your breach of this terms of use, relating to your access, connection, activities, and engagement with our Site, or any violations of our Privacy Policy. BLYTIX reserves the right to assume the exclusive defence and control of any matter which is subject to indemnification under this section and terms of use. In such a case, you agree to cooperate with any reasonable requests assisting BLYTIX defence of such matter.
                    </p>
                    <h4>Limitations of Liability</h4>
                    <p>
                        BLYTIX, ITS AFFILIATES, AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, ASSIGNEES, SUPPLIERS AND LICENSORS (COLLECTIVELY “BLYTIX AND ITS AFFILIATES”) MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE SITE AND TOU, INCLUDING BUT NOT LIMITED TO ITS ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS. BLYTIX AND ITS AFFILIATES SHALL NOT BE SUBJECT TO ANY LIABILITY FOR THE TRUTH, ACCURACY, OR COMPLETENESS OF THE CONTENT OR ANY OTHER INFORMATION CONVEYED TO THE USER OR FOR ERRORS, MISTAKES OR OMISSION THEREIN OR FOR ANY DELAYS OR INTERRUPTIONS OF THE DATA OR INFORMATION STREAM FROM WHATEVER CAUSE. YOU AGREE THAT YOU USE THE SITE AND AGREE TO THESE TOU AT YOUR OWN RISK.
                        IN NO EVENT SHALL BLYTIX AND ITS AFFILIATES BE LIABLE FOR ANY SPECIAL, INDIRECT, PUNITIVE, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM USE OR ACCESS TO OUR SITE OR THE CONTENT HEREIN, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER LEGAL THEORY, EVEN IF SUCH BLYTIX AND AFFILIATES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. BLYTIX AND AFFILIATES LIABILITY TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCES IS LIMITED TO (state the amount)
                        IN THE EVENT THAT ANY STATE DOES NOT ALLOW FOR EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY IN CONNECTION WITH INCIDENTAL OR CONSEQUENTIAL DAMAGES, THE ABOVE LIMITATIONS SHALL NOT APPLY TO YOU AND BE PERMITTED TO THE EXTENT ALLOWED UNDER LAW.
                    </p>
                    <h4>Termination</h4>
                    <p>
                        Blytix reserves the right, in its sole discretion and authority, to restrict, terminate, suspend or otherwise limit this TOU and any access to part or all of our Site at any time and for any reason whatsoever with or without notice or liability.
                        Blytix further reserves the right to alter, change, update, discontinue or suspend access to party or all of our Site at any time and for any reason whatsoever with or without notice or liability.
                        All appropriate sections including but not limited to Indemnification, Limitation of Liability, Termination, Governing Law and Jurisdiction, and General/Miscellaneous shall survive the termination of this TOU.                            
                    </p>
                    <h4>Notice of Copyright Infringement</h4>
                    <p>
                        The Digital Millennium Copyright Act of 1998 (hereinafter “DMCA”) provides recourse for lawful owners of copyright that believe that any material appearing on our Site, or any site, on the internet infringes with their rights under U.S. Copyright law. In the event you believe in good faith that any materials available on this Site infringes on your copyright, please contact Blytix directly either yourself or through your agent by mail or email to Blytix requesting us to remove or block access to such materials. In the event that you believe in good faith that someone has wrongly submitted a notice of copyright infringement against you, DMCA allows you to send Blytix a separate notice of such a condition. Any notices you submit must meet any statutory requirements as stated under the DMCA.
                    </p>
                    <p>
                            Please submit your notices in writing to: <br>
                            Blossom Analytics <br>
                            8 Volta, Airport Residential <br>
                            Accra-Ghana <br>
                            Email: info@blytix.com <br>
                            For additional information please consult your attorney before submitting any notices or <a href=" www.copyright.gov" target="_"> www.copyright.gov</a>.
                    </p>
                    <h4>Governing Law & Jurisdiction </h4>
                    <p>
                        This Terms of Use are governed and will be construed in accordance with the laws of the State of New York, United States of America, without regard to any principles of conflicts of laws or your location. By using our site, you are agreeing to exclusive jurisdiction in both federal and state courts located in New York City County, the state of New York, U.S.A., and you waive any jurisdictional, venue or inconvenient forum objects to such courts.
                        Information or Complaints                            
                    </p>
                    <p>
                        If you have a question or complaint regarding our Site, please send an email to <a> info@blytix.com</a>. You may also contact in writing to our Webmaster at: <br>
                        Blossom Analytics, 8 Volta Airport Residential, Accra-Ghana
                        Information being emailed to our office cannot be guaranteed to be secure, so please do not include any sensitive unnecessary personal identifiable information, credit card information, or private information of any kind in your email correspondence with us.                            
                    </p>

                    <h4>General/Miscellaneous</h4>
                    <h5>Severability</h5>
                    <p>If any one or more of the provisions of the Terms of Use shall for any reason be held by a final determination of a court of competent jurisdiction to be invalid, illegal, or unenforceable to any respect, such invalidity, illegality, or unenforceability shall not affect any other provisions (or portions of provisions) of these terms of use, and the invalid, illegal, or unenforceable provisions shall be deemed replaced by a provision that is valid, legal, and enforceable and that comes closest to the intentional express of BLYTIX.</p>
                    <h5>Relationship</h5>
                    <p>Your usage of our sites does not establish any relationship between you and BLYTIX. You are not an employee, independent contractor, agent, assignee, partner, joint venture, franchise or any other type of fiduciary for BLYTIX.</p>
                    <h5>Assignment   </h5>
                    <p>You may not assign any part of these terms of use, in whole or in part, without BLYTIX’s express written consent (which may be withheld or conditioned in BLYTIX’s sole discretion). </p>
                    <h5> Construction</h5>
                    <p>
                        Any rule of construction suggesting or requiring ambiguities is resolved against BLYTIX shall not apply in the interpretation of this Terms of Use.
                    </p>
                    <h5>Security</h5>
                    <p>
                        Information that is sent electronically or via the internet cannot be assured as completely secured and as such, BLYTIX cannot guarantee that unauthorized third parties will never be able to access or use electronic data, including your data, or that our security measures cannot be superseded. By using our Site, you acknowledge that any personal data you provide you do so at your own risk.
                        Welcome!
                    </p>

                </div>
            </section>

		<% include partials/footer %>
	</div>

	<div id="mobile_nav" class="uk-offcanvas">
		<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
			<ul class="uk-nav uk-nav-offcanvas">
				<li class="">
					<a data-ng-click="scrollNav($event)" class="link_features" href="#">What We Do</a>
				</li>
				<li class="">
					<a data-ng-click="scrollNav($event)" class="link_offer" href="#">Your Developers</a>
				</li>
				<li class="">
					<a data-ng-click="scrollNav($event)" class="link_pricing" href="about.html">About Us</a>
				</li>
				<li class="">
					<a data-ng-click="scrollNav($event)" class="link_clients" href="contact.html">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="modal_subscribe" class="uk-modal subscribe_window">
		<div class="uk-modal-dialog uk-text-center uk-border-rounded">
			<h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

			<form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
				<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
					<div class="uk-width-medium-3-4 uk-margin-bottom">
						<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
							placeholder="Enter your e-mail">
					</div>
					<div class="uk-width-medium-1-4 uk-margin-bottom">
						<button class="uk-width-1-1 uk-button button_custom_green form_button"
							type="submit">Subscribe</button>
					</div>
				</div>
				<div class="response_wrapper">

					<div class="success">E-mail has been added successfully.</div>
					<div class="success_response"></div>

					<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
					<div class="error_response"></div>
				</div>
			</form>
			<a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
		</div>
	</div>
	<% include partials/modal %>

	<style>
		.privacy-doc{

        }

        .privacy-doc p{
            font-family: Proxima-thin;
            font-size: .9em;
            line-height: 1.5em;
        }

        .privacy-doc h4{
            font-size: 1.5em;
            font-family: Proxima-bold;
        }

        .privacy-doc h5{
            font-size: 1.1em;
            font-family: Proxima-bold;
        }

        .privacy-doc ul li{
            font-size: 1em;
            font-family: Proxima-thin;
            margin: 10px;
        }
	</style>
	<% include partials/scripts %>
</html>