<!DOCTYPE HTML>
<html class="particles_effect" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Blytix</title>
    <link rel="shortcut icon" href="/assets/sets1/images/logo.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/sets1/images/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/sets1/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/sets1/images/apple-touch-icon-114.png">
    <link href="/assets/sets1/css/uikit.css" rel="stylesheet" media="all">
    <link href="/assets/sets1/css/styles.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

    <div class="wrapper">

    <%- include("partials/header", {navbar: false, anchor: true}) %>  
    <div class="header-anchor"></div>

        <section style="background: url(/assets/sets1/images/what_we_do.jpg) no-repeat 0 0; background-size: cover;"
            class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">
            <div class="wwd-overlay"></div>
            <div class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

                <div class="container_block" style="text-align: left;" id="sansSerifFont">
                    <h1 class="uk-h1 container_title" id="sansSerifFont">Individually, we are one drop. </h1>
                    <h2 class="uk-h2 container_subtitle" id="sansSerifFont">Together, we are an ocean. </h2>
                    <div class="container_description" id="sansSerifFont1">
                        Your Blytix analytics team members help your organization leverage data, drive performance, and
                        increase your bottom-line.<br>
                    </div>
                </div>

            </div>
        </section>

        <section class="description description_secondary extend" id="philosophy">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                            <h3 class="uk-h3 section_title address_title mid-size-text wwd-normal"> We work with your company to 
                                    understand your key pain points in all things surrounding data</h3>
                        <p class="animated  wwd-thin">
                            Through the use of our analytics development team members, we aim to provide your company
                            with superior:
                        </p>
                        <div class="wwd-quality-item">
                            <span class="uk-margin-small-right ion-md-checkmark"></span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco">Quality</h3>
                            <p class="animated description_text wwd-thin"> Quality in our insights and our delivery.</p>
                        </div>
                        <div class="wwd-quality-item">
                            <span class="uk-margin-small-right ion-md-checkmark"></span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco">Value</h3>
                            <p class="animated description_text wwd-thin"> Helping you transform insights into business decisions that impacts on your bottom line.</p>
                        </div>
                       <div class="wwd-quality-item ">
                            <span class="uk-margin-small-right ion-md-checkmark"></span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco">Focus</h3>
                            <p class="animated description_text wwd-thin" >We help you identify the top impactful activities that can be leveraged to drive performance.</p>
                       </div>
                    </div>

                </div>
                <div class="uk-width-large-1-2 uk-flex uk-flex-middle ">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                       <div class="wwd-quality-item upside">
                            <span class="uk-margin-small-right ion-md-checkmark"></span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco" > Coverage around the clock</h3>
                            <p class="animated description_text" >
                                Our consultants work within the time zones of your business to ensure seamless communication
                                with your team.
                            </p>
                       </div>
                        <div class="wwd-quality-item upside">
                            <span class="uk-margin-small-right ion-md-checkmark"></span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco">Impact</h3>
                            <p class="animated description_text" >
                                We help you drive performance in 3 ways: around your people, around your processes,
                                and around your assets
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="description description_secondary extend" id="process" style="height: 740px; padding-top: 24px; background-color: #e3eaed"
            id="sansSerifFont">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-large-1-2">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                        <h3 class=" mid-size-text wwd-normal">
                            We help transform the needs of your company into a challenge our dedicated human resource
                            team can overcome</h3>
                        <p class="description_text wwd-thin">
                            We understand the difficulties associated with hiring the right talent as your organization
                            experiences growth and digital transformation. Instead of wasting time, energy, and
                            resources interviewing the wrong candidates, Blytix helps streamline this process which
                            allows you to hit the ground running.
                        </p>
                        <div  class="wwd-image-fade-edge">
                            <img src="/assets/sets1/images/what_we_do_2.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                       <div class="wwd-quality-item full">
                            <span>1</span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco">Build your analytics team</h3>
                            <p class="animated description_text">
                                By working closely with your organization, we help vet the right Blytix candidates that fit
                                the needs of your organization. Your company then makes the final selection from a pool of
                                highly skilled candidates.
                            </p>
                       </div>
                        <div class="wwd-quality-item full">
                            <span>2</span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco">
                                    Manage your analytics team</h3>
                            <p class="animated description_text">
                                We equip your remote worker with the proper tools and resources needed to deliver
                                value to your organization while working within our Blytix headquarters. While you
                                manage your analytics development team member, Blytix’s leadership overseas all other
                                operational duties such as managing payroll and benefits.
                            </p>
                        </div>
                       <div class="wwd-quality-item full">
                            <span>3</span>
                            <h3 class="uk-h3 uk-margin-large-bottom animated description_title deco">
                            Scale your analytics team</h3>
                            <p class="animated description_text extend">
                                At any given point in time, your company can add additional Blytix consultants to your team
                                to address the growing needs of your organization. Blytix clients typically develop long
                                term relationships with their distributed analytics team members and host on-prem site
                                visits to build rapport.
                            </p>
                       </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="description description_secondary extend" id="strength">
            <div class="uk-grid uk-grid-collapse">

                <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                    <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                        <h3 class=" mid-size-text wwd-normal">
                            We meet your
                            organization at its critical point in the journey to becoming data-driven</h3>
                        <p class="wwd-thin description_text">
                            Our analytics development team can be broken up into 3 core categories:
                        </p>

                        <ul class="wwd-career">
                            <li><div class="wwd-normal head"">Analyst</div>
                                <div class="wwd-thin content">
                                    Work with data to provide insights by transforming raw and unstructured data into a
                                    cohesive summary or report in which executives and others can use to make business
                                    decisions. <br>
                                    <strong>Tableau, PowerBI, Domo, Sisense, Dundas BI, SAP, Python, & more...</strong>
                                </div>
                            </li>
                            <li>
                                <div class="wwd-normal head">Data Engineer</div>
                                <div class="wwd-thin content">Build and optimize the systems that data scientists and analysts can leverage in order
                                    to perform their work. They ensure data is properly received, stored, transformed, and
                                    made accessible to other users at a cadence that best matches key use cases. <br>
                                    <strong> Kubernetes, Spark, Kafka, Java, Redis, CassandraDB, PostgreSQL, MySQL, CI/CD
                                        Pipelines, microservices, AWS Cloud9 & more...</strong>
                                </div>
                            </li>
                            <li>
                                <div class="wwd-normal head">Data scientist</div>
                                <div class="wwd-thin content">
                                        Performs a myriad of statistical analysis, data mining, and data wrangling techniques in
                                        order to transform data into a form that identifies trends and uncovers hidden
                                        relationships within data. They use software to build machine learning models to make
                                        predictions and answer key business questions. <br>
                                        <strong>Python, HDFS, HIVE, SQL, Elasticsearch, SageMaker, Tensorflow/Keras, Deep
                                            Learning, PyTorch, Spark, DynamoDB, MongoDB, & more...</strong>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
                    <div>
                        <div class="uk-container uk-container-center " data-uk-scrollspy="{cls:'uk-active'}">
                            <div class="uk-grid uk-grid-large address_wrapper">
                                <div class="uk-width-medium-1-2 animated" style="padding-left: 0px; height: 0px;">
                                    <div class="uk-margin-large-bottom address_item" style="background: #22db94;">
                                        <div class="address_text" style="padding: 10px;">
                                            <p style="font-size:20px; color: white" id="sansSerifFont1">I need a team to
                                                <strong>extract
                                                    insights</strong> and find <strong>correlations/patterns</strong>
                                                within our company data.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 animated" style="padding-left: 20px;">
                                    <div class="uk-margin-large-bottom address_item" style="background: #31a8d8">
                                        <div class="address_text" style="padding: 10px">
                                            <p style="font-size:20px; color: white" id="sansSerifFont1">I need a talented
                                                <strong>Tableau</strong> visualization <strong>analyst</strong> to help
                                                us visualize our data.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 animated" style="padding-left: 0px;">
                                    <div class="uk-margin-large-bottom address_item" style="background: #ff5993">
                                        <div class="address_text" style="padding: 10px">
                                            <p style="font-size:20px; color: white" id="sansSerifFont1">We need a
                                                dedicated offshore
                                                <strong>Data Scientist</strong> to produce models that can
                                                <strong>predict</strong> our customer churn rates throughout different
                                                times of the year
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 animated" style="padding-left: 20px; height: 0px">
                                    <div class="uk-margin-large-bottom address_item" style="background: #fddc2f">
                                        <div class="address_text" style="padding: 10px">
                                            <p style="font-size:20px; color: white" id="sansSerifFont1">We need a
                                                <strong>Data
                                                    Engineer</strong> to help us aggregate disparate data sources into a
                                                <strong>reliable data lake</strong> which can be leveraged by our
                                                <strong>data analysts </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-1-2 animated" style="padding-left: 0px;">
                                    <div class="uk-margin-large-bottom address_item" style="background: #31a8d8">
                                        <div class="address_text" style="padding: 10px">
                                            <p style="font-size:20px; color: white" id="sansSerifFont1">I want a
                                                dedicated, offshore
                                                analytics team.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <% include partials/footer %>
    </div>

    <div id="mobile_nav" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
            <ul class="uk-nav uk-nav-offcanvas">
                <li class="">
                    <a data-ng-click="scrollNav($event)" class="link_features" href="#">What We Do</a>
                </li>
                <li class="">
                    <a data-ng-click="scrollNav($event)" class="link_offer" href="#">Your Developers</a>
                </li>
                <li class="">
                    <a data-ng-click="scrollNav($event)" class="link_pricing" href="about.html">About Us</a>
                </li>
                <li class="">
                    <a data-ng-click="scrollNav($event)" class="link_clients" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="modal_subscribe" class="uk-modal subscribe_window">
        <div class="uk-modal-dialog uk-text-center uk-border-rounded">
            <h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>

            <form data-ng-submit="mailchimpForm" class="uk-form form_sign_in" autocomplete="off">
                <div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
                    <div class="uk-width-medium-3-4 uk-margin-bottom">
                        <input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email"
                            placeholder="Enter your e-mail">
                    </div>
                    <div class="uk-width-medium-1-4 uk-margin-bottom">
                        <button class="uk-width-1-1 uk-button button_custom_green form_button"
                            type="submit">Subscribe</button>
                    </div>
                </div>
                <div class="response_wrapper">

                    <div class="success">E-mail has been added successfully.</div>
                    <div class="success_response"></div>

                    <div class="error">E-mail must be valid and message must be longer than 1 character.</div>
                    <div class="error_response"></div>
                </div>
            </form>
            <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
        </div>
    </div>

    <% include partials/modal %>


    <style>
        .deco {
            height: 10px;
            font-size: 20px;
            font-weight: bold;
        }

        .wwd-quality-item{
            position: relative;
            padding: 0 0 0 20px;
            margin-left: 20px;
        }
        .wwd-quality-item.extend{
            height: 200px;
        }
        .wwd-quality-item span{
            position: absolute;
            left: -13px;
            z-index: 6;
            top: 4px;
            color: rgb(236, 95, 95);
            font-size: 1em;
        }
        .wwd-quality-item h3{
            font-size: 1.4em !important;
            color: 	#200122 !important;
        }
        .wwd-quality-item.upside span{
            top: calc(100% - 11px);
        }
        .wwd-quality-item.upside::before{
            top: calc(100% - 14px);
            left: -20px;
        }
        .wwd-quality-item.upside::after{
            top: calc(100% - 95px);
        }
        .wwd-quality-item.full::before{
            background-color: rgb(236, 95, 95);
        }
        .wwd-quality-item.full span{
            color: white;
            font-size: .8em;
            font-family: Proxima-thin;
            left: -10px;
        }
        .wwd-quality-item:before{
            content: "";
            width: 25px;
            height: 25px;
            border-radius: 50%;
            position:absolute;
            background-color: white;
            border: 1px solid   rgb(236, 95, 95);
            z-index: 5;
            top: 0px;
            left: -20px;

        } 
        .wwd-quality-item:after {
            content: "";
            position: absolute;
            background: rgb(236, 95, 95);
            top: 25px;
            left: -7px;
            width: 2px;
            height: 100%;
            z-index: 4;
        }
        .wwd-image-fade-edge{
            position: relative;
            width: 90%;
        }
        .wwd-image-fade-edge img{
            width: 100%;
            margin: 0 auto;
        }
        .wwd-image-fade-edge:after{
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-collapse: separate;
            box-shadow: inset 40px 0 23px -10px #e3eaed, inset -40px 0 28px -16px #e3eaed;
        }
        .wwd-career li{
            margin-bottom: 20px;
        }
        .wwd-career .content{
            line-height: 30px;
            font-size: .9em;
        }
    </style>
    <% include partials/scripts %>
</html>